%% -*- erlang -*-
%% Config file for crc16 nif library application
{erl_opts, [debug_info, fail_on_warning]}.
{sub_dirs, ["src"]}.

%% {port_env, [
%% 	    {"CFLAGS", "$CFLAGS -Wall -O3 "},
%% 	    {"(linux)", "LDFLAGS", "$LDFLAGS"}
%% 	   ]}.

{port_specs, [
	      {"(linux|freebsd|darwin)","priv/libdsp.so",
	       [ "c_src/dsp.c"
	       ]}
	     ]}.

%% {edoc_opts, [{doclet, edown_doclet}]}.
%%{ct_extra_params, " -spec test/tunnel_port.spec"}.

{post_hooks, [{"linux", compile, "${STRIP} priv/*"}]}.
