%% -*- erlang -*-
%% Config file for dsp nif application
{erl_opts, [debug_info, fail_on_warning]}.
{sub_dirs, ["src"]}.


{deps, [
        {libbfdsp, ".*", {git, "https://github.com/lumenosys/libbfdsp.git", {branch, "master"}},[raw]}
       ]}.

{erl_first_files, ["libbfdsp"]}.

{port_env, [
            {"LIBDSP_DIR", "${PWD}/deps/libdsp_installdir"},
            {"STRIP", "bfin-linux-uclibc-strip"},
            {"CC", "bfin-linux-uclibc-gcc"},
            {"CROSS_COMPILE", "bfin-linux-uclibc-"},
            {"DESTDIR", "${PWD}/deps/libdsp_installdir"},
            {"STAGING_DIR", "${HOME}/Projects/Lumenosys/blackfin/lumenosys-adi-buildroot/output/host/usr/bfin-buildroot-linux-uclibc/sysroot"},
 	    {"CFLAGS", "-Wall -O3 -fpic -funroll-loops -ffast-math -fomit-frame-pointer -mcpu=bf537-0.3 -isystem ${LIBDSP_DIR}/include -I ${STAGING_DIR}/usr/lib/erlang/usr/include"},
 	    {"(linux)", "LDFLAGS", "-L${LIBDSP_DIR}/lib -Wl,-Bstatic -lbfdsp -Wl,-Bdynamic"}
 	   ]}.

{port_specs, [
	      {"(linux|freebsd|darwin)","priv/libdsp.so",
	       [ "c_src/dsp.c"
	       ]}
	     ]}.

%% {edoc_opts, [{doclet, edown_doclet}]}.
%%{ct_extra_params, " -spec test/tunnel_port.spec"}.

{pre_hooks,
 [{"(linux|darwin|solaris)", compile, "make -C deps/libbfdsp install"},
  {"(freebsd)", compile, "gmake -C deps/libbfdsp"}]}.

{post_hooks, [{"linux", compile, "${STRIP} priv/*"}]}.
